<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Listado</title>

        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/estilos.css') }}"
        />
    </head>
    <body>
        <h1>Listado de Cosas</h1>
        <hr />

        <ul>
            {% for item in lista_cosas: %}

            <li>{{ item }}</li>

            {% endfor %}
        </ul>
    </body>
</html>
