{% extends "base.html" %}

{% block titulo %}Inicio{% endblock %}

{% block contenido %}
<h1 class="mt-2 p-2 text-center">Inicio</h1>
<hr />
{% endblock %}

{% block mis_scripts %} 

<script>
toastr.success("Este es un mensaje de exito, genial. Todo OK", "Sistema Mensajes Flash")
toastr.info("Este es un mensaje de exito, genial. Todo OK", "Sistema Mensajes Flash")
toastr.error("Este es un mensaje de exito, genial. Todo OK", "Sistema Mensajes Flash")
toastr.warning("Este es un mensaje de exito, genial. Todo OK", "Sistema Mensajes Flash")
</script>

{% endblock %}