.pelota{
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 50%;
}

.contenedor-pelotas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content:center;
    justify-content: space-around;
    gap: 20px
}